body {
	font-family: Arial, sans-serif;
}

#options {
	width: 90%;
	height: 100px;
	margin: 20px auto;
	background-color: #CDCDCD;
	padding-top: 10px;
	text-align: center;
	border-radius: 26px;
}

#options h2 {
	font-size: 30px;
	font-weight: bold;
}

form {
	display: inline-block;
}