body {
	font-size: small;
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*The header links are black while the footer links are light grey*/
a:link, a:visited {
	color: black;
}

#bottombar a:link, #bottombar a:visited {
	color: #666;
}

ul {
	list-style-type: none;
}

li {
	float: right;
	display: block;
	padding: 0 0 0 18px;
}

#topbar ul li:first-child {
	margin-top: -10px;
}

#share {
	padding: 3px 7px 3px 7px;
	background-color: #f1f1f1;
  	border: 5px solid transparent;
  	margin-top: -8px;
}

#share:hover {
	background-color: grey;
}

#container {
	margin: 10 0 0 0 auto;
	text-align: center;
}

#topbar {
	margin: 25px 40px 0 0;
	height: 100px;
}

#logo {
	margin: auto;
	width: 35em;
}

#searchbar {
	margin: auto;
	padding-top: 15px;
}

input {
	height: 30px;
	width: 40em
}

#searchOptions {
	margin-top:10px;
}

.button {
	background-color: #f1f1f1;
	font: bold 11px/27px Arial,sans-serif!important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 3px 4px 3px 4px;
	margin: 5px;
	display: inline-block;
}

/*changing the border size is useful for mimicking raised buttons*/
.button:hover, .searchbar:hover {
	border: 2px solid #dcdcdc;
}

#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: relative;
	margin-top: 215px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 5px
}

#bottomleft {
	float:left;
}

#bottomright {
	margin-right: 27px;
}